* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #007a54;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #f7f4f3;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  margin: 1rem;
}
#winning-msg {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  display: none;
  color: rgb(230, 136, 136);
}
.match-found-msg{
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
}
#restart-btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1.2rem;
  font-weight: bolder;
  border-radius: 12px;
  border: 0;
  background-color: #0b132b;
  color: #fff;
  cursor: pointer;
}
#restart-btn:hover {
  background-color: #1c435e;
}
#game-board {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 5rem auto;
}
.card {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #0d0630;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY("180deg");
  background-color: white;
}
.front-face {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.back-face {
  width: 50px;
  height: 50px;
}

.flip-back {
   background-color: #0d0630;
}
.hide {
  display: none;
}
